
body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(images/jukebox.jpeg);
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

div {
  padding: 2%;
  margin: auto;
}

h2, h3 {
  color: white;
  font-size: 2.4em;
}

.player-logo {
  float: left;
}

.player {
  float: right;
}

.controls {
  clear: both;
}
