body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(images/jukebox.jpeg);
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style-type: none;
}
